body{
    background: linear-gradient(270deg,#2a5298,#0f2027);
}
.contact-form {
    display: flex;
    flex-direction:column;
    gap: 15px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    background: #fff;
    color: #333;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .contact-form button {
    background: #ffd700;
    color: #1e3c72;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .contact-form button:hover {
    background: #fff;
  }
.menu-hidden {
  display: none;
}
.menu{
  display: none;
}
@media (max-width: 800px) {
  .menu-hidden {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1e3c72;
    width: 70%;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 20px;
  }

  .menu-hidden ul {
    list-style: none;
    padding: 0;
  }

  .menu-hidden li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }

  .menu-hidden .close {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
  }
}
.menu {
  display: block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.8rem;
    padding: 12px 16px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}